:root {
  --pixel-size: 2px;
  --grid-cell: calc(var(--pixel-size) * 16);
  --view-width: 352;
  --view-height: 198;
}
@media (min-width: 700px) {
  :root {
    --pixel-size: 3px;
  }
}
// @media (min-width: 1000px) {
//   :root {
//     --pixel-size: 4px;
//   }
// }

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}
body {
  background-color: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frame {
  width: calc(var(--pixel-size) * var(--view-width));
  height: calc(var(--pixel-size) * var(--view-height));
  outline: var(--pixel-size) solid #fff;
  z-index: 1;
  position: relative;
}
.camera {
  width: calc(var(--pixel-size) * var(--view-width));
  height: calc(var(--pixel-size) * var(--view-height));
  overflow: hidden;
  background: #61ddf7;
  position: relative;
}
.map {
  image-rendering: pixelated;
  background-image: url("https://assets.codepen.io/21542/CameraDemoMap.png");
  background-size: 100%;
  width: calc(13 * var(--grid-cell));
  height: calc(10 * var(--grid-cell));
  position: relative;
}
.character {
  image-rendering: pixelated;
  width: calc(var(--grid-cell) * 2);
  height: calc(var(--grid-cell) * 2);
  position: absolute;
  overflow: hidden;
  top: calc(50% - var(--grid-cell) * 2);
  left: calc(50% - var(--grid-cell) * 2);
}

.shadow {
  width: calc(var(--grid-cell) * 2);
  height: calc(var(--grid-cell) * 2);
  position: absolute;
  left: 0;
  top: 0;
  background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png")
    no-repeat no-repeat;
  background-size: 100%;
}
.character_spritesheet {
  position: absolute;
  background: url("https://assets.codepen.io/21542/DemoRpgCharacter.png")
    no-repeat no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell) * 8);
  height: calc(var(--grid-cell) * 8);
}

.character[facing="right"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -32);
}
.character[facing="up"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -64);
}
.character[facing="left"] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -96);
}
.character[walking="true"] .character_spritesheet {
  animation: walkAnimation 0.6s steps(4) infinite;
}

@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}

.debug-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}
